name: Auto Release
on:
  push:
    tags:
      - '*-*'
env:
  JAVA_VERSION: 21 # must be the same as the version used in build.gradle
  MODRINTH_ID: kuRp6C26
  CURSEFORGE_ID: 1292580
defaults:
  run:
    shell: bash
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
      - name: Setup Gradlew
        run: |
          chmod +x ./gradlew
          ./gradlew configureLaunch
      - name: Build
        id: build
        run: |
          chmod +x ./gradlew
          ./gradlew clean build

      - name: Gen Release Info
        id: release_info
        run: |
          function find_releases {
            local combined_version="${1:-*}"
            local loader="${2:-*}"
            find ./minecraft* \
              -path "*/build/libs/*-${loader}-${combined_version}.jar" \
              ! -name '*-common-*.jar' \
              ! -name '*-sources.jar' \
              ! -name '*javadoc.jar'
          }
          
          function main {
            set -eu
 
            local combined_version="${{ github.ref_name }}"
            local minecraft_version="$(echo "$combined_version" | cut -d- -f1)"
            local mod_version="$(echo "$combined_version" | cut -d- -f2)"
          
            local -A props
            while IFS= read -r line; do
              props["$(echo "$line" | cut -f 1)"]="$(echo "$line" | cut -f 2)"
            done < <(./gradlew -q properties | grep '.*: .*' | sed 's/:\s*/\t/')
          
            if [ "${props[version]}" == "$mod_version" ]
            then
              echo "OK: version in properties and in tag is the same"
            else
              echo "ERR: version in properties and in tag does not match"
              exit 1
            fi
          
            local -a loaders
            while IFS= read -r line; do
              loaders+=("$line")
            done < <(find_releases "$combined_version" \
              | sed 's:.*minecraft[^/]*/\([^/]*\).*:\1:' \
              | sort \
              | uniq \
            )

            {
              echo 'files_all=<<EOF'
              find_releases "$combined_version"
              echo EOF

              echo "loaders=[$(
                for i in "${loaders[@]}";
                do
                  echo "\"${i}\""
                done | paste -sd ',' -
              )]"
               
              for i in "${loaders[@]}";
              do
                echo "files_${i}=<<EOF"
                find_releases "$combined_version" "$i"
                echo EOF
              done

              echo "release_name=${props[name]} v${props[version]} for mc ${minecraft_version}"
              echo "version=$combined_version"
            } >> "$GITHUB_OUTPUT"
          }

          main

      - name: Release to GitHub
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          github-tag: ${{ github.ref_name }}
          github-token: ${{ secrets.MC_PUBLISH_GITHUB_PAT }}

          java: ${{ env.JAVA_VERSION }}
          version: ${{ steps.release_info.outputs.version }}
          files: ${{ steps.release_info.outputs.files_all }}
          name: ${{ steps.release_info.outputs.release_name }}

      - name: Release Fabric Version
        if: ${{ contains(steps.release_info.outputs.loaders, 'fabric') }}
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: ${{ env.MODRINTH_ID }}
          modrinth-token: ${{ secrets.MODRINTH_UPLOAD_TOKEN }}
          curseforge-id: ${{ env.CURSEFORGE_ID }}
          curseforge-token: ${{ secrets.CURSEFORGE_UPLOAD_TOKEN }}

          java: ${{ env.JAVA_VERSION }}
          version: ${{ steps.release_info.outputs.version }}
          files: ${{ steps.release_info.outputs.files_fabric }}
          name: ${{ steps.release_info.outputs.release_name }} (Fabric)

      - name: Release Forge Version
        if: ${{ contains(steps.release_info.outputs.loaders, 'forge') }}
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: ${{ env.MODRINTH_ID }}
          modrinth-token: ${{ secrets.MODRINTH_UPLOAD_TOKEN }}
          curseforge-id: ${{ env.CURSEFORGE_ID }}
          curseforge-token: ${{ secrets.CURSEFORGE_UPLOAD_TOKEN }}

          java: ${{ env.JAVA_VERSION }}
          version: ${{ steps.release_info.outputs.version }}
          files: ${{ steps.release_info.outputs.files_forge }}
          name: ${{ steps.release_info.outputs.release_name }} (Forge)

      - name: Release NeoForge Version
        if: ${{ contains(steps.release_info.outputs.loaders, 'neoforge') }}
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: ${{ env.MODRINTH_ID }}
          modrinth-token: ${{ secrets.MODRINTH_UPLOAD_TOKEN }}
          curseforge-id: ${{ env.CURSEFORGE_ID }}
          curseforge-token: ${{ secrets.CURSEFORGE_UPLOAD_TOKEN }}

          java: ${{ env.JAVA_VERSION }}
          version: ${{ steps.release_info.outputs.version }}
          files: ${{ steps.release_info.outputs.files_neoforge }}
          name: ${{ steps.release_info.outputs.release_name }} (NeoForge)
