name: Test Build
on: 
  pull_request:
  push:
    branches-ignore:
      - 'automated/**'

env:
  JAVA_VERSION: 21 # must be the same as the version used in build.gradle
jobs:
  build-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ env.JAVA_VERSION }}
      - name: Build
        id: build
        run: |
          chmod +x ./gradlew
          ./gradlew clean build
      - name: List All Artifacts
        id: list_all_artifacts
        run: |
          shopt -s extglob

          {
            echo 'all_artifacts<<EOF'
            find minecraft*/!(common)/build/libs/*.jar
            echo EOF
          } >> "$GITHUB_OUTPUT"
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: artifacts
          path: ${{ steps.list_all_artifacts.outputs.all_artifacts }}
